html,
body {
  margin: 0;
  line-height: 1.4;
  font-weight: lighter;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  user-select: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
}

.grid-overlay {
  z-index: -1;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.25) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
  background-size: 40px 40px;
}

.image_shower {
  pointer-events: none;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation-name: fadein;
  animation-duration: 2s;
  filter: blur(2px);
  opacity: 1;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* --------------------------------------------------- */

.settings-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 4px solid red; */
  position: fixed;
  /*
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  */
  display: flex;
  justify-content: center; /* Horizontally center items */
  font-size: medium;
  width: 100%;
  height: 88%;
  overflow-y: auto;
}
.settings-container.fixed {
  position: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f0f0f0; */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

textarea {
  width: 70vw; /* Set the desired width as a percentage of the viewport width */
  height: 70vh; /* Set the desired height as a percentage of the viewport height */
  border-radius: 10px; /* Add rounded corners */
  padding: 10px; /* Add padding to create spacing between content and border */
  font-family: Arial, sans-serif; /* Set desired font */
  font-size: 14px; /* Set desired font size */
  resize: none; /* Disable textarea resizing */
}

.button-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Increase minmax value */
  gap: 10px;
}

.square-button {
  /* Set rounded corners */
  border-radius: 15px;

  /* Apply gradient background with slow animation */
  background: linear-gradient(45deg, #82b8ff, #b6e1ff);
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;

  /* Other button styles for appearance and interaction */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  white-space: nowrap;
  transition: transform 0.3s;
  margin: 5%;
  padding: 10px; /* Add padding to the button */
  width: auto; /* Let the content determine the width */
  height: auto; /* Let the content determine the height */
  user-select: none;
  /* Define a custom animation keyframes */

  /* Apply the animation on the button */
  animation: dropInAnimation 0.5s ease-out; /* Adjust duration and timing function as needed */

  line-height: 1.2;
  max-height: 20vh; /* Adjust the height of each item as needed */
}

#section-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the containers horizontally */
  justify-content: center; /* Center the containers vertically */
  width: 30vh;
  /* background-color: #f0f0f0; */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: dropInAnimation 0.5s ease-out; /* Adjust duration and timing function as needed */
}

/* Style for checkboxes */
.checkbox-label {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #82b8ff;
  cursor: pointer;
  width: 100%;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-label {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

@keyframes dropInAnimation {
  0% {
    transform: translateY(-10px); /* Move the button up by 10px */
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    transform: translateY(
      0
    ); /* Move the button back to its original position */
    opacity: 1; /* End with full opacity */
  }
}

/* Slowly rotate the button on hover */
.square-button:hover {
  transform: rotate(3deg);
}

/* Gradient animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-img {
  height: auto;
  width: 5vw;
}

/* ================================================== */

#xscale, #screensaver {
  /* Set rounded corners */
  border-radius: 15px;

  /* Apply gradient background with slow animation */
  background: linear-gradient(45deg, #82b8ff, #b6e1ff);
  background-size: 300% 300%;
  animation: gradientAnimation 10s infinite;

  /* Other button styles for appearance and interaction */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  white-space: nowrap;
  transition: transform 0.3s;
  margin: 5%;
  height: auto;
  word-wrap: break-word;
  user-select: none;
  
  line-height: 1.2;
  max-height: 20vh; /* Adjust the height of each item as needed */
}

#xscale img, #screensaver img {
  padding: 2.5%;
  height: auto !important;
  width: 2.5vw !important;
}

#xscale {
  animation: dropInAnimation 0.5s ease-out; /* Apply animation to #xscale only */
}
#screensaver {
  animation: dropInAnimation 0.5s ease-out;
}


/* ================================================== */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(0px); */
  opacity: 0;
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

.dialog-show {
  opacity: 1;
  transition: 0.5s ease-in-out;
  pointer-events: auto;
}

.dialog-box {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: none;
  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog-title {
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  margin-bottom: 20px;
}

.dialog-message {
  font-size: 20px;
  font-weight: bold;
  user-select: none;
  margin-bottom: 20px;
}

.dialog-buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 10px;
}

.dialog-button {
  font-size: 18px; /* Large font size for the buttons */
  user-select: none;
  background-color: #82b8ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.dialog-button:hover {
  background-color: #3a75c4;
}

.blur-background {
  opacity: 1;
  /* backdrop-filter: blur(5px); */
  transition: 0.5s ease-in-out;
}

.animate-up {
  transition: 0.5s ease-in-out;
  transform: translateY(-200%);
}

/* ================================================== */

.shimshim {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  background-size: 200% 100%;
  animation: shimmer 10s infinite linear;
}
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* ================================================== */

#section-video {
  text-align: center;
  padding: 20px;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This scales the video while maintaining aspect ratio */
  filter: blur(12px);
  transition: filter 1s;
}

#video-background.ready {
  filter: blur(0px);
}
/* ================================================== */

.thumbnail-frame {
  height: 70vh;
  overflow-y: auto;
  border: 4px solid gray;
  backdrop-filter: blur(12px);
  border-radius: 12px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.thumbnail {
  outline: 2px solid white;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  /* Add other thumbnail styles */
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}

.selected {
  outline: 2px solid skyblue;
  border-radius: 16px;
}

/* ================================================== */

#tipsFrame {
  text-align: center;
  font-size: x-large;
  padding: 10vh;
  border-color: white;
  border-style: dashed;
  border-radius: 15px;
  background-color: skyblue;
  /* height: 20vh; */
  width: 40vh;
  min-height: fit-content;
  min-width: 40vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  color: #3a75c4;
  font-weight: bold;
  transition: 0.3s;
  animation: dropInAnimation 0.5s ease-out;
}

#tips {
  pointer-events: none;
  line-height: 1.2;
}

#tips-nav {
  height: fit-content;
  width: fit-content;
}
.mini-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: xx-large;
  background-color: #3a75c4;
  padding: 1%;
  margin: 10%;
  height: 5vh;
  width: 7.5vw;
  border-radius: 16px;
}

/* ================================================== */

#section-control-panel-btns {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row when necessary */
  gap: 10px; /* Adjust the gap between items as needed */
  max-height: 80vh; /* Set a maximum height for the container */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows the height */
}

/* ================================================== */

/* ================================== NOT USED ================================================================================== */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spin {
  animation: rotation 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 35%;
  height: 20%;
  border: 2px solid black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 9;
  border-radius: 4px;
  color: red;
  background-color: aquamarine;
  right: 0;
  pointer-events: none;
}

.singleaction {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.singleaction img {
  width: 25px;
  height: 25px;
}

.singleaction:hover {
  /* 
  background-color: white;
  transition: 0.5s;
  transform: scale(1.15) rotate(45deg); 
  */
  transition: 0.5s;
  transform: scale(1.1);
}

.controls {
  font-size: xx-large;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#question {
  font-size: xx-large;
}
#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#options {
  display: flex;
  flex-wrap: wrap;
}
#upto {
  display: flex;
  flex-wrap: wrap;
}

.zoomout {
  transition: 0.5s;
  transform: scale(0);
}

.option-sub {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: wheat;
  margin: 10px;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}

.answer-sub {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background-color: wheat;
  margin: 10px;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.shuffle-animation {
  order: 9999;
}

.slide {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.slide.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.slide.slide-out {
  opacity: 0;
  transform: translateX(100%);
}

.heading {
  font-size: 20vw;
  font-weight: bold;
  text-align: center;
  color: skyblue;
}
.heading.scale-down {
  transition: 4s;
  transform: scale(0.25);
}
.heading.scale-down.resolve {
  transition: 1s;
  transform: scale(1);
  font-size: 5vw;
}
